</p><%= link_to 'Add new quote', new_citation_path %></p>
<p>
  <table style="width: 60%">
    <tr>
      <th style="width: 15%">Added at</th>
      <th>Quotes</th>
    </tr>
    <% @citations.each do |citation| %>
      <tr></p>
        <td><%= citation.created_at.strftime('%d %B %Y') %></td>
        <td><%= citation.text %></td>
      </tr>
    <% end %>
  </table>

  <p><%= will_paginate @citations %></p>
